.object {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;

  &-form {
    margin-top: 24px;
    width: 40%;
    display: flex;
    flex-direction: column;

    div {
      gap: 12px;
    }
  }

  &-visual {
    width: 50%;
  }
  &-controls {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      margin-left: 24px;
    }
  }
}

.alert {
  margin-top: 24px;
}
