.upload-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  & > .MuiTextField-root {
    width: -webkit-fill-available;
  }
}

.history {
  margin-top: 24px;
}

.alert-container {
  margin-top: 24px;
  height: 50px;
}
